<header class="header">
    <div class="logo">
        <h1>PERFUME STORE</h1>
    </div>

    <nav class="nav-link">
        <a href="/">Home</a>
        <a href="/pages/product.html">Product</a>
        <a href="">Contact</a>
        <a href="">About</a>
    </nav>

    <div class="bar" id="toggle-btn">
        <i class="fa-solid fa-bars" id="icon1"></i>
    </div>
</header>

<div class="nav-ml" id="nav-ml">
    <a href="/">Home</a>
    <a href="/pages/product.html">Product</a>
    <a href="">Contact</a>
    <a href="">About</a>
</div>